---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #4169e1; }
.main-content p { margin-bottom: 1em; }

.page-header {
  color: #ffff;
  background-color: #4169e1;
  background-image: linear-gradient(120deg, #C0C0C0, #4169e1);
}

.header {
  color: red;
}

.container {
    max-width: auto;
    &__image {
        max-width: 250px;
        width: 40%;
        margin: 30px 30px 30px 0px;
        float: right;
    }
    &__text {
        display: inline;
    }
}

.bip {
    display: none;
}
.bop {}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    [class*="container"] {
        text-align: center;
        width: 80%;
        margin: 30px 30px 30px 30px;
    }
    [class*="bip"] {
        display: contents;
        text-align: center;
        margin: 30px 30px 30px 30px;
    }
    [class*="bop"] {
        display: none;
        text-align: center;
        margin: 30px 30px 30px 30px;
    }
}

html {
  scroll-behavior: smooth;
}


body {
      font-family: "Roboto", sans-serif;
}